# deps
node_modules/
.pnpm-store/

# build output
dist/
.next/
out/
build/

# turbo
.turbo/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
*.tsbuildinfo
.idea/
.vscode/*
!.vscode/extensions.json
